.vbox {
    -fx-background-color: white;
}

.vbox:hover {
    -fx-background-color: f4f4f4;
}

.grid {
    -fx-alignment: center;
    -fx-padding: 5px;
    -fx-background-color: f4f4f4;
    -fx-padding: 2;
    -fx-hgap: 2;
    -fx-vgap: 2;
}

.concert {
    -fx-text-alignment: center;
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}

.pending {
    -fx-background-color: #ccffcc;
}

.accepted {
    -fx-background-color: #40cc40;
}

.sent {
    -fx-background-color: #4040cc;
    -fx-text-fill: white;
}

.declined {
    -fx-background-color: #999999;
}

.booked {
    -fx-background-color: #A03033;
    -fx-text-fill: white;
}

.concert:hover {
    -fx-background-color: white;
}

.label {
    -fx-font-weight: bold;
}