.vbox {
    -fx-border-color: black;
    -fx-border-width: 1px;
    -fx-background-color: white;
}

.grid {
    -fx-padding: 5px;
}

.concert {
    -fx-text-alignment: center;
}

.pending {
    -fx-base: blue
}

.accepted {
    -fx-base: green
}

.sent {
    -fx-base: yellow
}

.declined {
    -fx-base: red
}