@font-face  {
    font-family: "Futura PT";
    src: url('fonts/FuturaPTDemi.otf');
}

Label {
    -fx-text-fill: #ff3636#
    -fx-font-family: 'Futura PT'
}

TextField {
    -fx-text-fill: #ff3636#
    -fx-font-family: 'Futura PT'
}

#buttonPane   {
    -fx-background-color: black;
}

#buttonPane > * {
    -fx-background-color: black;
    -fx-text-fill: white;
}

MenuBar > *:selected    {
    -fx-text-fill: #FFFFFF;
    -fx-background-color: green;
}

#btnContainer    {
    -fx-background-color: #DDDDDD;
}



#btnContainer > *  {
    -fx-background-color: #A03033;
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-background-border: 50 50 50 50;
    -fx-border-insets: 0 0 0 0;
    -fx-Borderpane.alignment: center;
    /*    -fx-margin: 100px 100px 100px 100px;
      -fx-text-transform: uppercase;  */
    -fx-text-fill: white;
}

#btnContainer > *:hover   {
    -fx-background-color: #BA202C;
}

TextField {
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
}


Button {
    -fx-background-color: #A03033;
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-text-fill: white;
}

ChoiceBox {
    -fx-background-color: #A03033;
    -fx-border-radius: 0 0 0 0;
    -fx-background-radius: 0 0 0 0;
    -fx-highlight-text-fill: white;
    -fx-text-fill: white;
}

ChoiceBox .context-menu {
    -fx-background-color: #A03033;
    -fx-text-fill: white;
}

ChoiceBox .label, ChoiceBox .context-menu {
    -fx-text-fill: white;
}


